/***********************/
/******** Body  ********/
/***********************/
body {
  border: 0;
  background-image:  url("../images/sky.png");
  background-position: 0 -100px;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: local;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  color: #444444;
  font-size: 1rem;
  line-height: 1.65;
  font-weight: 400;
}
/* Body */

/**********/
/* Header */
/**********/
#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #111111;
  color: rgba(255, 255, 255, 0.993);
  height: 7.5rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}
@media screen and (min-width:768px){
  #header {
    height: 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width:1024px){
  #header {
    justify-content: space-around;
  }
}
#header nav ul li {
  display: inline-block;
}
#header ul li:hover{
  cursor: pointer;
}
#header ul {
  list-style: disc;
  display: flex;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}
#header ul li {
  padding-left: 0.325rem;
}
#header .logo {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1.25rem;
  padding-top: .4rem;
  text-decoration: none;
  height: 80px;
  align-items: flex-start;
}
#header nav {
  height: 3.25em;
  line-height: 3.25rem;
  padding: 0 1.25rem;
}

/* Header */


/*************************/
/* Video and Personagens */
/*************************/

.wrapper {
  padding: 8rem 0 6rem 0;
  position: relative;
  z-index: 1;
}
.video{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media screen and (min-width:768px){
  .video{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.video p{
  padding: 1rem 0 0 0;
}
.iframemão {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframemão iframe {
 border: 0;
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}

.Personagem1{
  display: grid;
  grid-template-columns: 1fr;
}

#box-personagens{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#box-personagens img{
  width: 50vw;
}
/* Video and personagens */


/************************/
/******* Créditos *******/
/************************/

.plain a:hover{
  cursor: pointer;
  color: rgb(139,0,139);
}
.plain a{
  text-decoration: none;
  color: #444444;
}
.alt a{
  text-decoration: none;
  color: #444444;
}
.alt a:hover{
  cursor: pointer;
  color: rgb(139,0,139);
}

/* Créditos */

/**********/
/* Footer */
/**********/
#footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  padding: 6.5rem 0 6rem 0 ;
}
#footer strong, #footer b {
  color: #ffffff;
}
#footer ul.alt li, #footer ul.plain li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

#footer .content {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}
#footer .content section {
  width: 100%;
}
@media screen and (min-width:768px){
  #footer .content section {
    width: 50%;
  }
}
#footer .content section:first-child {
  flex: 1 100%;
}
@media screen and (min-width:1024px){
  #footer .content section:first-child {
    flex: 1 50%;
    
  }
  #footer .content section {
    width: 25%;
  }
}
#footer .copyright {
  border-top: 1px solid;
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 2rem 0;
  text-align: center;
}
#twitter a:hover{
  color:#00aced;
}
#faceb a:hover{
  color:#3b5998;
}
#insta a:hover{
  color:#DD2A7B;
}
#git a:hover{
  color:#333;
}
ul.plain {
  list-style: none;
  padding-left: 0;
}
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li, ul.plain li {
  border-top: solid 1px;
  padding: 0.75rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}
ul.alt li:first-child, ul.plain li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.alt li:last-child, ul.plain li:last-child {
  padding-bottom: 0;
}
a{
  text-decoration: none;
  color: rgb(139, 139, 139);
}
a:hover{
  color: rgb(139,0,139);
}
/*Footer 5 */









/*******************************/
/*Banner e Estilização de texto*/
/*******************************/


/* Banner */
#banner {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(135deg, rgba(206,27,40,0.6), rgba(17,17,17,0.74)), url("../images/pixel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  height: 40rem;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
#banner div.inner img, #banner div.inner p, #banner div.inner section{
  animation: ifuun 2.69s;
}
@keyframes ifuun{
  from{
    opacity: 0;
    transition: opacity 2.69s;
  }
  to{ 
    opacity: 1;
  }
}
#banner #registre {
  display: inline-block;
  text-align: center;
  background-color: #00813e;
  border-color: #8eda55;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 4px;
  text-transform: uppercase;
  width: 30%;
  color: white;
}
@media screen and  (min-width:425px){
  #banner #registre{
    font-size: 22px;
  }
}
@media screen and  (min-width:768px){
  #banner #registre{
    font-size: 32px;
  }
}
#banner #registre:hover {
  display: inline-block;
  text-align: center;
  background-color: #05c963;
  border-color: #a6ff61;
  padding: 12px 24px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 4px;
  text-transform: uppercase;
  width: 30%;
  color: white;
  cursor: pointer;
}
#banner a {
  color: #ce1b28;
}

#banner h1 {
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#banner p {
  font-size: 1.5rem;
}

#banner a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#banner a:hover {
  color: #ffffff;
}
  
#cta {
  background-image: linear-gradient(135deg, rgba(206,27,40,0.6), rgba(17,17,17,0.74));
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  text-align: center;
  z-index: 1;
}
 
/* Fim Banner */

/*********************/
/* Estilização Geral */
/*********************/

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0; }
hr.major {
 margin: 4rem 0; }

input, select, textarea {
  color: #555555; }


strong, b {
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  color: #555555;
}
hr {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem);
}
ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}
ul li {
  padding-left: 0.325rem;
}