/***********************/
/******** Body  ********/
/***********************/
body {
    border: 0;
    background-image:  url("../images/sky.png");
    background-position: 0 -100px;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    color: #444444;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Body */

/********/
/*Header*/
/********/

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #111111;
    color: rgba(255, 255, 255, 0.993);
    height: 7.5rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}
@media screen and (min-width:768px){
  #header {
    height: 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width:1024px){
  #header {
    justify-content: space-around;
  }
} 
#header nav ul li {
    display: inline-block;
}
#header ul li:hover{
    cursor: pointer;
}
ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}
ul li {
    padding-left: 0.325rem;
}
#header ul {
    display: flex;
}
#header .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1.25rem;
    text-decoration: none;
    height: 80px;
    align-items: flex-start;
    padding-top: .4rem;
}
#header nav {
    height: 3.25em;
    line-height: 3.25rem;
    padding: 0 1.25rem;
}

/*  Fim do Header   */



/************/
/*Formulario*/
/************/

fieldset {
    border: none;
}

input, select, textarea, button {
    font-size: 1rem;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    margin-bottom: 0.2rem;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1rem;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}
form{
    background-image: linear-gradient(135deg, rgba(27, 164, 206, 0.6), rgba(255, 255, 255, 0.74));
    font-style: italic;  
    margin-top: 10rem;
}

@media screen and (min-width:768px){
    form{
        margin-top: 5rem;  
    }
}
a{
    text-decoration: none;
    color: rgb(139, 139, 139);
}
a:hover{
    color: rgb(139,0,139)
}
button{
    display: inline-block;
    text-align: center;
    background-color: #00813e;
    border-color: #8eda55;
    font-size: 32px;
    padding: 12px 24px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 4px;
    text-transform: uppercase;
    width: 50%;
    margin-left: 0.5rem;
}
button:hover {
    background-color: #05c963;
    border-color: #a6ff61;
    color: white;
    cursor: pointer;
}

